{{ define "authorize" }}
<html>
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Flickr Authorization Result</title>
  </head>

  <body>
      <div class="container">
	  {{ if .Error }}
	  <p>There was a problem completing your authorization request: {{ .Error }}</p>
	  {{ else }}
	  <p>Authorization request successful.</p>

	  <table>
	      <tr><th>User ID</th><td>{{ .User.Id }}</td></tr>
	      <tr><th>User Name</th><td>{{ .User.Username.Value }}</td></tr>
	      <tr><th>Access Token</th><td>{{ .AccessToken.Token }}</td></tr>
	      <tr><th>Access Token Secret</th><td>{{ .AccessToken.Secret }}</td></tr>
	  </table>
	  {{ end }}
      </div>
  </body>
</html>
{{ end }}
